.idea/
assets/
data/
tmp/
.cmake/
screenshots/
minecraftpe/
Testing/
cmake_install.cmake
cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
FindEGL.cmake
build.ninja
.ninja_log
.ninja_deps
serverGamemode/storage/
libs/libminecraftpe.so
libs/libgnustl_shared.so
*.apk
*.json
games/
